@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

header .main-menu-container .main-menu a:hover {
  text-decoration: underline;
}

header .main-menu-container .sub-menu a:hover {
  text-decoration: none;
  font-weight: 600;
}

footer .main-menu-container .sub-menu a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  padding: 1em 0;
  font-size: 1rem;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn {
  border-radius: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: white;
  color: white;
  padding: 0.7rem 1.2rem;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.transparant {
  border: 1px solid white;
  background-color: transparent;
}

.transparant:hover {
  background-color: white;
  color: #ff525d;
}

.solid {
  color: #ff525d;
}

.solid:hover {
  background-color: #ff7a85;
  color: white;
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(#ff8f70, #ff3d54);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  color: #4b5862;
  text-align: center;
  line-height: 1.6;
  width: 100%;
}

section,
footer {
  padding: 5rem 0;
}

header {
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  z-index: 5;
}

header .container.flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo-img {
  width: 70px;
  height: 40px;
}

header #menu-close-icon,
header #hamburger-icon,
header .sub-menu,
header .main-menu-container {
  display: none;
}

header #menu-close-icon.show,
header #hamburger-icon.show,
header .main-menu-container.show {
  display: block;
}

header .main-menu-container {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

header .main-menu-container a {
  color: #1f3f5b;
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
  padding: 1rem;
}

header .main-menu-container a.btn {
  padding: 0.9rem 3rem;
  font-size: 1.2rem;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(#ff8f70, #ff3d54);
}

header .navlink-text::after {
  content: "";
  background: url("../images/icon-arrow-dark.svg") no-repeat;
  display: inline-block;
  width: 10px;
  height: 7px;
  margin-left: 0.5rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .navlink.expanded .navlink-text::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header #product-submenu.expanded,
header #company-submenu.expanded,
header #connect-submenu.expanded {
  display: block;
}

header .navlink {
  position: relative;
}

header .sub-menu {
  background-color: #eeeded;
  opacity: 0.9;
  border-radius: 5px;
  padding: 1.5rem;
}

header .sub-menu a {
  padding: 0 0 0.7rem;
}

header .main-menu-container,
header nav,
header ul,
header .auth-container {
  width: 100%;
}

header .auth-container {
  margin-top: 2rem;
  border-top: 1px solid #c8c8cb;
  padding: 1.5rem 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .auth-container a {
  font-size: 1.5rem;
  font-weight: 600;
}

.hero-section {
  background: url("../images/bg-pattern-intro.svg") no-repeat right -42rem top -23rem/90rem, linear-gradient(105deg, #ff8f70, #ff3d54);
  color: white;
  border-bottom-left-radius: 100px;
}

.hero-section .container {
  padding: 4em 0;
}

.hero-section h1 {
  color: inherit;
}

.hero-section p {
  margin-bottom: 2rem;
  padding: 1rem 1.2rem;
}

.hero-section .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .text-inner {
  margin: 1.5rem 0;
}

.illustration {
  margin: 2rem 0;
}

.text {
  padding: 0 1.5rem;
}

.illustration,
.text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

.text-inner {
  margin: 1.5rem 0;
}

.extra-info {
  background: url("../images/bg-pattern-circles.svg") no-repeat left -8rem top -18rem/39rem, -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: url("../images/bg-pattern-circles.svg") no-repeat left -8rem top -18rem/39rem, linear-gradient(#2c2d3f, #3f4164);
  color: white;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 6rem;
}

.extra-info h2 {
  color: inherit;
  font-size: 2.2rem;
}

.extra-info .illustration {
  position: relative;
  top: -250px;
}

.extra-info .text {
  margin-top: -275px;
}

footer {
  background-color: #25252d;
  color: #c8c8cb;
  border-top-right-radius: 100px;
  font-family: "Ubuntu", sans-serif;
}

footer .logo {
  margin-bottom: 4rem;
}

footer a,
footer h4 {
  color: inherit;
}

footer h4 {
  font-size: 1rem;
  font-weight: 700;
}

footer .sub-menu {
  margin: 1.5rem 0 2.5rem;
}

footer .sub-menu a {
  display: inline-block;
  padding: 0.2rem;
}

@media (min-width: 714px) {
  header .container.flex-container {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navlink-text::after {
    background: url("../images/icon-arrow-light.svg") no-repeat center/cover;
  }
  header #nav-btn {
    display: none;
  }
  header .auth-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  header .auth-container a {
    font-size: 1rem;
  }
  header .auth-container .btn:hover {
    background-color: #ff7a85;
    color: white;
  }
  header .main-menu-container,
  header nav,
  header ul,
  header .auth-container {
    width: unset;
  }
  header .logo {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
    justify-self: flex-start;
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo .logo-img {
    width: initial;
    height: initial;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: unset;
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .main-menu-container a {
    color: white;
    font-size: unset;
  }
  header .main-menu-container a.btn {
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
    color: #ff525d;
    background: white;
  }
  header .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .sub-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    opacity: 1;
    text-align: left;
  }
  header .sub-menu a {
    color: #1f3f5b;
    font-weight: 300;
  }
}

@media (min-width: 900px) {
  .features,
  .extra-info,
  .benefits,
  footer {
    text-align: left;
  }
  .features .flex-container,
  .extra-info .flex-container,
  .benefits .flex-container,
  footer .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features .flex-container .illustration,
  .features .flex-container .text,
  .extra-info .flex-container .illustration,
  .extra-info .flex-container .text,
  .benefits .flex-container .illustration,
  .benefits .flex-container .text,
  footer .flex-container .illustration,
  footer .flex-container .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero-section {
    background: url("../images/bg-pattern-intro.svg") no-repeat right -73rem top -75rem/176rem, linear-gradient(105deg, #ff8f70, #ff3d54);
  }
  .features,
  .benefits {
    padding: 8rem 0;
    overflow: hidden;
  }
  .features .flex-container,
  .benefits .flex-container {
    margin: 4rem auto;
  }
  .features .illustration,
  .benefits .illustration {
    position: relative;
  }
  .features .illustration img,
  .benefits .illustration img {
    max-width: 130%;
    position: absolute;
    top: -100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .features h2 {
    text-align: center;
  }
  .features .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .features img {
    left: 14%;
  }
  .benefits img {
    right: 20%;
  }
  .extra-info {
    background: url("../images/bg-pattern-circles.svg") no-repeat left -230px top -450px/68%, -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
    background: url("../images/bg-pattern-circles.svg") no-repeat left -230px top -450px/68%, linear-gradient(#2c2d3f, #3f4164);
    padding: 8rem 0;
    margin-top: 0;
  }
  .extra-info .illustration img {
    position: absolute;
    top: -25px;
  }
  .extra-info .text {
    margin-top: 0;
  }
  footer .flex-container .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  footer .flex-container .main-menu-container {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .flex-container .main-menu-container li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */